<!--<form (submit)="enviarDatos()" [formGroup]="form">-->
<p>Formulario Categorias.</p>
<form  [formGroup]="form" (ngSubmit)="insertarCategoria()">
<mat-form-field>
  <mat-label>descripcion</mat-label>
  <input matInput formControlName="descripcion" placeholder="Descripción">
</mat-form-field>

<mat-form-field>
  <mat-label>fecha Registro</mat-label>
  <input matInput [matDatepicker]="picker" formControlName="fechaRegistro">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<mat-checkbox [disabled]="true" formControlName="esActivo">Es activo</mat-checkbox>
  <button mat-button >Guardar </button>
</form>




